<%- include("partials/indexheader") %>
    <fieldset>
        <legend>
            <a href="/comments/new">New</a>
        </legend>
        <h1>All Comments</h1>
        <ul>
            <li>
                <b>
                    Admin(Mehmox)
                </b>
                Here has no protection about chat filter pls choose your word carefully! <br>
                And pls dont edit/delete someone else message.
                10/09/2024 20:06:05
            </li>
            <% for (const user of allcomments) {%>
                <li>
                    <p><b>
                            <%= user.name %>
                        </b>
                        <a href="/comments/<%=user.id%>">details</a>
                        <br>
                        <%= user.comment %>
                    </p>
                </li>
                <%} %>
        </ul>
    </fieldset>
    </div>
    <%- include("partials/footer") %>
